
#list_view_ul, #favorites_ul {
  list-style: none;
  width: 50000px;
  overflow: hidden;

  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
#list_view_ul li, #favorites_ul li {
  float: left;
}
#list_view div.ui-content, .favorites-page div.ui-content {
  margin: 0;
  padding: 0;
}

#list_view_ul h3 {
  margin: 5px 0;
  line-height: 1em;
}

.street_address {
  font-size: 0.9em;
}

.img-wrapper img {
  width: 320px;
}
.comment {
  padding-bottom: 0.5em;
}
.commenter {
  font-style: italic;
  font-size: 0.6em;
  padding-left: 5px;
}

.no-comments {
  font-style: italic;
  font-size: 0.8em;
}